<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="https://d2r9epyceweg5n.cloudfront.net/stores/739/220/products/hermione1-b8f32cfd6abc90181f15455771030065-1024-1024.jpg">
          <ion-card-content>
            <p>
              <strong>
                Varinha da Hermione
              </strong>
            </p>
            <p class="ion-text-right">
              <ion-badge color="warning">
                R$250
              </ion-badge>
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <img src="https://media.vogue.es/photos/5cc750a5a6e1172c5754cbf1/master/w_1600%2Cc_limit/vogue_news_309599548.jpg">
          <ion-card-content>
            <p>
              <strong>
                Nimbus 2000
              </strong>
            </p>
            <p class="ion-text-right">
              <ion-badge color="warning">
                R$1.000
              </ion-badge>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="https://img.elo7.com.br/product/zoom/1998145/harry-potter-pomo-de-ouro.jpg">
          <ion-card-content>
            <p>
              <strong>
                Vira Tempo
              </strong>
            </p>
            <p class="ion-text-right">
              <ion-badge color="warning">
                R$500
              </ion-badge>
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <img src="https://www.obscurusgeek.com.br/imagem/index/28424470/G/pa_01.jpg">
          <ion-card-content>
            <p>
              <strong>
                Pomo de Ouro
              </strong>
            </p>
            <p class="ion-text-right">
              <ion-badge color="warning">
                R$450
              </ion-badge>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
