<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Roupas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar showCancelButton="focus" color="warning"></ion-searchbar>


  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://img.elo7.com.br/product/zoom/1CCCB9A/capa-capa-harry-potter-sonserina-capa.jpg">
    </ion-thumbnail>
    <ion-label>Uniforme Sonserina</ion-label>
    <ion-badge color="warning">R$249,99</ion-badge>
  </ion-item>


  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://img.elo7.com.br/product/zoom/1CCCBB1/capa-capa-harry-potter-grifinoria-capa-hogwarts.jpg">
    </ion-thumbnail>
    <ion-label>Uniforme Grifinoria</ion-label>
    <ion-badge color="warning">R$209,99</ion-badge>
  </ion-item>


  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://img.elo7.com.br/product/zoom/1CCCC19/capa-capa-harry-potter-corvinal-capa-harry-potter.jpg">
    </ion-thumbnail>
    <ion-label>Uniforme Corvinal</ion-label>
    <ion-badge color="warning">R$299,99</ion-badge>
  </ion-item>


  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://img.elo7.com.br/product/zoom/1CCCBEF/capa-capa-harry-potter-lufa-lufa-lufa-lufa.jpg">
    </ion-thumbnail>
    <ion-label>Uniforme Lufa-Lufa</ion-label>
    <ion-badge color="warning">R$279,99</ion-badge>
  </ion-item>
</ion-content>
